# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MCLauncher.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
Folder.DotSettings.user
publish-win/
config/
obj/
bin/

ressources/sources/azurhosts.png

# En attendant une version stable et un vrai partenariat avec eux
.vscode
MCLauncher-Yoann-FORK.sln
